{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<div class="modal fade" id="{{id}}" tabindex="-1" aria-hidden="true"{{#if ariaLabelledby}} aria-labelledby="{{ariaLabelledby}}"{{/if}}>
  <div class="modal-dialog {{size}}">
    <div class="modal-content">
        {{#if overlay }}
            {{#if overlayID}}
                <div
                    id={{overlayID}}
                    class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center bg-white bg-opacity-75 rounded d-none"
                    style="z-index: 10">
                >
                    {{> overlay }}
                </div>
            {{/if}}
        {{/if}}

        <div class="modal-header {{#if classHeader}}{{classHeader}}{{/if}}">
            {{> header }}
        </div>
        <div class="modal-body" {{#if bodyId}} id="{{bodyId}}"{{/if}}>
            {{> body }}
        </div>
        <div class="modal-footer">
            {{> footer }}
        </div>
    </div>
  </div>
</div>
